### Korean Corona Cases

In [1]:
import pandas as pd
import numpy as np

In [65]:
df = pd.read_csv('PatientInfo.csv')

In [58]:
df.head()

,patient_id,sex,age,country,province,city,infection_case,infected_by,contact_number,symptom_onset_date,confirmed_date,released_date,deceased_date,state
0,1000000001,male,50s,Korea,Seoul,Gangseo-gu,overseas inflow,NaN,75,2020-01-22,2020-01-23,2020-02-05,NaN,released
1,1000000002,male,30s,Korea,Seoul,Jungnang-gu,overseas inflow,NaN,31,NaN,2020-01-30,2020-03-02,NaN,released
2,1000000003,male,50s,Korea,Seoul,Jongno-gu,contact with patient,2.002000e+09,17,NaN,2020-01-30,2020-02-19,NaN,released
3,1000000004,male,20s,Korea,Seoul,Mapo-gu,overseas inflow,NaN,9,2020-01-26,2020-01-30,2020-02-15,NaN,released
4,1000000005,female,20s,Korea,Seoul,Seongbuk-gu,contact with patient,1.000000e+09,2,NaN,2020-01-31,2020-02-24,NaN,released

In [69]:
df.shape

(5161, 11)

In [59]:
df.dtypes

patient_id             object
sex                    object
age                    object
country                object
province               object
city                   object
infection_case         object
infected_by           float64
contact_number         object
symptom_onset_date     object
confirmed_date         object
released_date          object
deceased_date          object
state                  object
dtype: object

In [42]:
print(f"Fraction of NA's in column sympton_onset_date: {df['symptom_onset_date'].isna().mean()}\n\
Fraction of NA's in column confirmed_date: {df['confirmed_date'].isna().mean()}\n\
Fraction of NA's in column released_date: {df['released_date'].isna().mean()}\n\
Fraction of NA's in column deceased_date: {df['deceased_date'].isna().mean()}\n")

Fraction of NA's in column sympton_onset_date: 0.8664085188770572
Fraction of NA's in column confirmed_date: 0.0007744433688286545
Fraction of NA's in column released_date: 0.6927395934172313
Fraction of NA's in column deceased_date: 0.9872216844143272

Most of the date features are not useful since they have a high percentage of missing values. As a result we will drop these columns and we only keep the confirmed- and the released-date.
In a next step we will drop rows where released_date or confirmed_date is a null value.

In [66]:
def prepare_df(df):
    df = df.drop(['symptom_onset_date','released_date','deceased_date'], axis=1)
    df = df.dropna(subset=['confirmed_date'])
    assert df.confirmed_date.isna().sum != 0
    df['confirmed_date'] = pd.to_datetime(df['confirmed_date'])
    return df

In [67]:
df = prepare_df(df)

In [68]:
df.dtypes

patient_id                object
sex                       object
age                       object
country                   object
province                  object
city                      object
infection_case            object
infected_by              float64
contact_number            object
confirmed_date    datetime64[ns]
state                     object
dtype: object